body {
  margin: 0;
  padding: 0;
  font-family: "Cuprum", sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: 400;
  color: #000000;
  background-color: #ffffff;
}
img {
  border: 0px;
  vertical-align: top;
  font-size: 0.7em;
}
a {
  text-decoration: none;
}
.main-header {
  background-color: #f4f7f9;
}
.header-block-1 {
  width: 100%;
  background-color: #293449;
}
.header-block-2 {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #f2f6f8;
}
.header-container {
  width: 940px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
}
.main-header-logo {
  text-align: center;

}
.main-header-logo a {
  display: block;
  width: 220px;
  height: 42px;
  margin: 0;
  padding: 0;
  background-color: #ee3643;
  //box-shadow: 0 5px 0 0 #9a212a;
  //border-bottom: 5px solid #9a212a;
  position: relative;
}
.main-header-logo a:before {
  content: "";
  width: 220px;
  height: 5px;
  position: absolute;
  bottom: -5px;
  left: 0;
  background-color: #b52933;
}
.main-header-logo a:hover:before,
.main-header-logo a:focus:before {
  content: "";
  width: 220px;
  height: 5px;
  position: absolute;
  bottom: -5px;
  left: 0;
  background-color: #9a212a;
}
.main-header-logo a:active:before {
  content: "";
  width: 220px;
  height: 5px;
  position: absolute;
  bottom: -5px;
  left: 0;
  background-color: #8e1e26;
}
.main-header-logo img {
  margin-top: 13px;
}
.main-header-logo a:hover,
.main-header-logo a:focus {
  background-color: #ca2c37;
}
.main-header-logo a:active {
  background-color: #ba2732;
}
/*
.search {
  width: 270px;
  margin: 0;
  padding: 0;
  color: #ffffff;
  background-color: #293449;

}
.search-field {
  color: #ffffff;
  background-color: #293449;
}
*/
.search {
  display: flex;
  flex-direction: row;
}
.search label {
  width: 42px;
  text-align: center;
  margin: 0 auto;
  padding-top: 12px;
  cursor: pointer;
}
.search input {
  box-sizing: border-box;
  width: 228px;
  height: 42px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 7px;
  border: none;
  background-color: #293449;
  border: none;
  color: white;
}
.search label {
  opacity: 0.3;
}
.search label:hover {
  opacity: 1;
}
.search label:active {
  opacity: 0.3;
}
.search input:focus ~ label {
  fill: #ee3643;
  background-color: white;
}
/*
.search label::before {
  content: url("../img/icon-search.svg");
  position: absolute;
  left: 17px;
  top: 12px;
  display: inline-block;
  vertical-align: top;
  opacity: 0.3;
  cursor: pointer;
  color: white;
}
*/
.search input::-moz-placeholder  {
  color: white;
}


.helper-navigation {
  list-style: none;
  width: 450px;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  color: #ffffff;
}
.helper-navigation li {
  margin: 0;

}
.helper-navigation li:first-child {
  width: 150px;
}
.helper-navigation li:nth-child(2) {
  width: 150px;
}
.helper-navigation li:last-child {
  width: 150px;
}
.helper-navigation li a {
  margin: 0;
  display: block;


  padding-top: 12px;
  padding-bottom: 13px;
  line-height: 17px;
  white-space: nowrap;

}

.helper-navigation,
.user-navigation,
.site-navigation,
.user-menu {
  list-style: none;
}
.helper-navigation a,
.site-navigation a {
  color: #ffffff;
}

.helper-navigation {
  background-color: #293449;
}
.helper-navigation a:hover,
.helper-navigation a:focus {
  background-color: #212a3a;
}
.helper-navigation a:active {
  background-color: #161d29;
  opacity: 0.5;
}
.helper-navigation li:last-child a  {
  background-color: #63a63e;
}
.helper-navigation li:last-child:hover a,
.helper-navigation li:last-child:focus a  {
  background-color: #5fbb2d;
}
.helper-navigation li:last-child:active a {
  background-color: #518534;
}
.helper-navigation li:first-child a {
  position: relative;
  padding-left: 44px;
}
.helper-navigation li:first-child a::before {
  content: url("../img/icon-bookmark.svg");
  position: absolute;
  left: 17px;
  top: 12px;
  opacity: 0.3;
}
.helper-navigation li:first-child a:hover::before,
.helper-navigation li:first-child a:focus::before {
  opacity: 1;
}
.helper-navigation li:first-child a:active::before {
  opacity: 0.5;
}
.helper-navigation li:nth-child(2) a {
  position: relative;
  padding-left: 44px;
}
.helper-navigation li:nth-child(2) a::before {
  content: url("../img/icon-cart.svg");
  position: absolute;
  left: 18px;
  top: 12px;
  opacity: 0.3;
}
.helper-navigation li:nth-child(2) a:hover::before,
.helper-navigation li:nth-child(2) a:focus::before {
  opacity: 1;
}
.helper-navigation li:nth-child(2) a:active::before {
  opacity: 0.5;
}
.helper-navigation li:last-child {
  text-align: center;
}
.user-menu {
  font-size: 16px;
  line-height: 18px;
  color: #32425c;
}
.user-menu a {
  text-decoration: underline;
}
.user-menu a:hover,
.user-menu a:focus {
  color: #ee3643;
}
.user-menu a:active {
  color: #32425c;
  opacity: 0.3;
}

.site-navigation a:hover,
.site-navigation a:focus {
  background-color: #293449;
}
.site-navigation a:active {
  background-color: #1d2739;
  opacity: 0.5;
}
.phone-container {
  width: 270px;
  margin: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.phone-container a {
  //display: inline-block;
  //width: 100%;
  font-size: 21px;
  line-height: 21px;
  padding-top: 12px;
  padding-bottom:12px;
  padding-left: 20px;
  //padding-right: 40px;
  color: #ee3643;
  //border: 3px solid #ffffff;
  box-shadow: inset 0 0 0 3px #ffffff;
  background-image: url("../img/icon-phone.svg");
  background-repeat: no-repeat;
  background-position: 10px 11px;
  //margin-bottom: 1px;
}
.phone-container span {
  //display: inline-block;
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
}
.user-navigation {
  list-style: none;
  width: 282px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;

}

.user-navigation a {
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;
  display: inline-block;
  //margin-right: 16px;

  //padding-left: 25px;
  //padding-right: 25px;
  padding-top: 12px;
  padding-bottom: 12px;

}
.user-navigation li {
  text-align: center;
}
.user-navigation li:first-child a {
    width: 106px;
    position: relative;
    padding-left: 14px;
}
.user-navigation svg {
  position: absolute;
  top: 14px;
  left: 14px;

}
.user-navigation li:last-child a {
    margin-left: 10px;
    width: 150px;
}
.user-navigation a:hover path,
.user-navigation a:focus path {
  fill: #32425c;
}
.user-navigation a:hover,
.user-navigation a:focus  {
  color: #ee3643;
}
.user-navigation a:active {
  color: #000000;
  opacity: 0.3;
}

.info-container {
  width: 940px;
  margin: 0 auto;
  padding-top: 46px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

}
.main-navigation {
  width: 940px;
  margin: 0 auto;
  min-height: 120px;
}


.main-title {
  width: 210px;
  margin: 0;
  padding-left: 50px;
  //padding-top: 48px;
  //padding-bottom: 41px;
  padding-bottom: 43px;
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  color: #ee3643;
}



.user-container {
  width: 300px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;


}
.user-navigation-login {
  list-style: none;
  width: 300px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 21px

  color: #000000;
  background-color: #ffffff;

}
.user-navigation-login li:first-child {
  width: 250px;
  margin: 0;
  padding: 0;

}
.user-navigation-login li:last-child {
  width: 50px;
  margin: 0;
  padding: 0;

}
.user-navigation-login li:first-child a {
  color: #000000;
}

.user-menu {
  list-style: none;
  width: 300px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

}
.user-menu li:first-child {
  width: 120px;
  margin: 0;
  padding: 0;

}
.user-menu li:last-child {
  width: 150px;
  margin: 0;
  padding: 0;

}
.site-navigation {
  width: 940px;
  margin: 0;
  padding: 0;

  background-color: #32425c;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  box-shadow: inset 0 -5px 0 0 #293449;

}
.site-navigation li {
  display: inline-block;
}
.site-navigation li a {
  margin: 0;
  display: block;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 22px;
  padding-bottom: 21px;
  line-height: 17px;
  //box-shadow: inset 0 -5px 0 0 #293449;
}




.company-section-container {
  width: 940px;
  margin: 0 auto;
  padding: 0;
  padding-top: 80px;
  padding-bottom: 87px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;


}
.main-information {
  width: 540px;
  margin: 0;
  padding: 0;


}
.main-contacts {
  width: 300px;
  margin: 0;
  padding: 0;

}
.main-subtitle {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 25px;
  padding: 0;

}
.main-information p {
  margin-bottom: 24px;
}
.main-information p:last-of-type {
  margin-bottom: 18px;
}
.list-company {
  font-size: 18px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  margin-bottom: 30px;
  padding: 0;

}
.list-company li {
    list-style-type: none;
}
.list-company li:before {
  content: "— ";
  color: #ee3643;
  font-size: 26px;
}
.main-information p,
.main-contacts p {
  font-family: "PT Sans", sans-serif;
  font-size: 13px;
  line-height: 24px;
}
.main-contacts p {
  margin-bottom: 35px;
}
.button {
  display: inline-block;
  margin-right: 15px;
  padding: 14px 40px;

  font-family: "Cuprum", sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #ee3643;
  border: none;
}
.button:hover,
.button:focus {
  background-color: #ca2c37;
}
.button:active {
  background-color: #ba2732;
}

/* попапы скрываем согласно задания на данной стадии */
.modal {
  display: none;
}
/* надёжно спрятать */
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.footer-block-1 {
  width: 100%;
  background-color: #32425c;

}
.footer-block-2 {
  width: 100%;
  background-color: #293449;

}
.footer-information {
  width: 940px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;


}
.footer-copyright {
  width: 940px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.footer-logo-block {
  width: 220px;
  height: 68px;
  background-color: #ee3643;
  text-align: center;
  box-shadow: inset 0 -5px 0 #b52933;
}
.footer-logo-block img {
  padding-top: 21px;
}
.footer-navigation {
  font-size: 18px;
  line-height: 24px;
  background-color: #32425c;
  width: 720px;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

}
.footer-information p {
  font-size: 18px;
  line-height: 24px;
  color: #f3f7f9;
  width: 350px;
  margin: 0;
  padding-top: 29px;
  padding-bottom: 48px;
}
.footer-links {
  width: 590px;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  flex-wrap: wrap;


}

.footer-navigation li {
  display: inline-block;
  margin-left: 60px;
  margin-top: 37px;
}
.footer-links li {
  display: inline-block;
  margin-left: 60px;
  margin-top: 30px;
}

.copyright {
  width: 240px;
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  padding-top: 35px;
  padding-bottom: 36px;
}
.footer-social {
  width: 150px;
  list-style: none;
  //margin: 0;
  padding: 0;
  margin-left: 30px;

  display: flex;
  width: 141px;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 43px;
  height: 43px;

  background-color: #212a3a;
  border-radius: 50%;
}
.footer-social li:first-child a {
  background-image: url("../img/icon-vk.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.footer-social li:nth-child(2) a {
  background-image: url("../img/icon-fb.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.footer-social li:last-child a {
  background-image: url("../img/icon-insta.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.social-button:hover,
.social-button:focus {
  background-color: #ee3643;
}


.footer-feedback-container {
  width: 300px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}
.footer-feedback {
  width: 140px;
  margin: 0;
  padding: 0;
  padding-top: 35px;
  padding-bottom: 36px;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;

}
.footer-developed {
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  width: 110px;
  margin: 0;
  padding: 0;
  padding-top: 35px;
  padding-bottom: 36px;
}
.footer-feedback a,
.footer-developed a {
  color: #ffd180;
}
.footer-feedback a:hover,
.footer-feedback a:focus,
.footer-developed a:hover,
.footer-developed a:focus,  {
  text-decoration: underline;
}
.footer-feedback a:active,
.footer-developed a:active {
  text-decoration: none;
  color: #ee3643;
}


.footer-navigation,
.footer-links {
  list-style-type: none;
}
.footer-navigation a {
  color: #f1f5f7;
}
.footer-links a {
  color: #ffda96;
}
.footer-navigation a:hover,
.footer-navigation a:focus,
.footer-links a:hover,
.footer-links a:focus  {
  text-decoration: underline;
}
.footer-navigation a:active,
.footer-links a:active {
  text-decoration: none;
  opacity: 0.5;
}
.footer-copyright {
  background-color: #293449;
}

.footer-copyright ul {
  list-style-type: none;
}


.inner-main {
  width: 100%;
}
.breadcrumbs {
  width: 940px;
  list-style: none;
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
  font-family: "PT Sans", sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #000000;

}
.breadcrumbs a {
  color: #000000;
}
.page-title {
  width: 940px;
  margin: 0 auto;
  padding: 0;
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 30px;
  line-height: 30px;
  color: #32425c;
  background-color: #f2f6f8;
  text-transform: uppercase;
}

.filter fieldset {
  border: none;
}
.filter legend {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase;
}
.filter ul {
  list-style: none;
  font-family: "PT Sans", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
}
.filter-input:hover + label,
.filter-input:focus + label {
  color: #000000;
}

.filter-input:disabled + label {
  color: #000000;

  opacity: 0.4;
}


.calalog-container {
  width: 940px;
  margin: 0 auto;
  padding: 0;
  padding-top: 20px;
  display: flex;
  justify-content: space-between;

}
.filters {
  width: 220px;
  margin: 0;
  padding: 0;

}
.catalog {
  width: 700px;
  margin: 0;
  padding: 0;

}
.sort {
  width: 700px;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;

}
.catalog-list {
  width: 700px;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-flow: row wrap;

}
.catalog-list::after {
  content: "";
  flex: auto;
}
.catalog-list li {
  width: 218px;
  margin: 0;
  margin-right: 20px;
  margin-bottom: 20px;
  padding: 0;

  height: 314px;
}
.catalog-list li:nth-child(3n) {
  margin-right: 0;
}
.catalog-list {
  list-style: none;
}
.catalog-item {
  border: 1px solid #e5e5e5;
}
.catalog-item:hover {
  box-shadow: 0 10px 25px 0 rgba(41, 52, 73, 0.5);
}
.catalog-item {
  text-align: center;
}
.catalog-item h3 {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;

}
.item-price-old {
  font-family: "PT Sans", sans-serif;
  font-size: 17px;
  line-height: 18px;
  color: #999999;
  text-decoration: line-through;
}
.pagination {
  width: 700px;
  margin: 0;
  padding: 0;

  /* Временно для сетки */
  min-height: 130px;
}
.catalog-information {
  width: 100%;
  margin: 0;
  padding: 0;

  /* Временно для сетки */
  min-height: 260px;
}
